<tr>
	<td><%= product.product_part %></td>
	<td><%= product.unit_mdl %></td>
	<td><%= product.description %></td>
	<td><%= product.quantity %></td>
	<td><%= product.price %></td>
	<td><%= product.total %></td>
</tr>
